extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li Доставка товару на склад станції
    form(id='' name='shop-add-form' class='form-inline' action='/addGoodstoStation' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Товар
            div(class='col-md-6')
                select(name = 'indexGoods')
                    each val, index in goods
                        option= index + '. Код: ' + val.code + '. Назва: ' + val.name + '. Маса: ' + val.mass
        div(class='')
            div(class='col-md-3')
                label(for='') Космічна станція
            div(class='col-md-6')
                select(name = 'index')
                    each val, index in dataSpaceStation
                        option= index + '. Назва: ' + val.name + '. Місткість: ' + val.capacity + '. Потреби: ' + val.needs
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Додати
        h4= info
    div(class='breadcrumb')
        li Звіт одиниць товару на заданій станції


    div
        each next in acc
            div= 'Станція ' + next.storage + '. Кількість товарів ' + next.goodsInStorage
            ul
                each val, key in next.goods
                    li= 'Товар з № ' +  key + ': ' + val


    div(class='breadcrumb')
        li Видалення товару на станції
    form( name='shop-add-form' class='form-inline' action='/deleteGoodstoStation' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Станція
            div(class='col-md-6')
                select(name = 'index')
                    each val, index in dataSpaceStation
                        option= index + '. Назва: ' + val.name + '. Місткість: ' + val.capacity + '. Потреби: ' + val.needs
        div(class='')
            div(class='col-md-3')
                label(for='') Товар
            div(class='col-md-6')
                select(name = 'indexGoods')
                    each val, index in goods
                        option= index + '. Код: ' + val.code + '. Назва: ' + val.name + '. Маса: ' + val.mass

        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Видалити
        


block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')
