
extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li Доставка товару на планету
    form(id='' name='shop-add-form' class='form-inline' action='/addGoodstoPlanet' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Товар
            div(class='col-md-6')
                select(name = 'indexGoods')
                    each val, index in goods
                        option= index + '. Код: ' + val.code + '. Назва: ' + val.name + '. Маса: ' + val.mass
        div(class='')
            div(class='col-md-3')
                label(for='') Планета
            div(class='col-md-6')
                select(name = 'index')
                    each val, index in dataplanet
                        option= index + '. name: ' + val.name + '. Місткість: ' + val.capacity + '. Маса: ' + val.mass
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Додати
        h4= info
    div(class='breadcrumb')
        li Звіт одиниць товару на заданій планеті


    div
        each next in acc
            div= 'Планета ' + next.storage + '. Кількість товарів ' + next.goodsInStorage
            ul
                each val, key in next.goods
                    li= 'Товар з № ' +  key + ': ' + val


    div(class='breadcrumb')
        li Видалення товару на планеті
    form( name='shop-add-form' class='form-inline' action='/deleteGoodstoPlanet' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Планета
            div(class='col-md-6')
                select(name = 'index')
                    each val, index in dataplanet
                        option= index + '. Назва: ' + val.name + '. Місткість: ' + val.capacity + '. Маса: ' + val.mass
        div(class='')
            div(class='col-md-3')
                label(for='') Goods
            div(class='col-md-6')
                select(name = 'indexGoods')
                    each val, index in goods
                        option= index + '. Код: ' + val.code + '. Назва: ' + val.name + '. Маса: ' + val.mass

        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Видалити
        


block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')
